@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 0 0% 0%;   /* black */

    --primary: 0 0% 0%; /* black */
    --primary-foreground: 0 0% 100%; /* white */
  }

  .dark {
    --background: 0 0% 0%; /* black */
    --foreground: 0 0% 100%; /* white */

    --primary: 0 0% 100%; /* white */
    --primary-foreground: 0 0% 0%; /* black */
  }
}

@layer components {
  .btn-primary {
    @apply bg-black text-white dark:bg-white dark:text-black;
  }
}